<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style/login.css"> -->
    <title>Login Page</title>
</head>
<body>
    <form action="submit" method="POST">
        <label for="id">College ID</label>
        <input type="text" placeholder="COL/20XX/XXXX" name="id">
        <label for="id">Password</label>
        <input type="password" placeholder="xxxxx" name="pass">
        <input type="submit" value="Login">
    </form>
</body>
</html>